@font-face {
  font-family: 'Inconsolata';
src: url('\static\fonts\Inconsolata-Regular.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}

@font-face {
  font-family: 'Roboto';
src: url('\static\fonts\Roboto-Regular.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}

* {
  font-family: 'Inconsolata', monospace;
  : var(--color-yellow);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2rem;
  : var(--color-orange);
}

h2 {
  : var(--color-green);
}

h3, h4, h5, h6 {
  : var(--color-violet);
}

a {
  text-decoration: none;
  font-family: 'Inconsolata', monospace;
  : var(--color-cyan);
}

a:hover {
  : var(--color-red);
}

p {
  font-family: 'Inconsolata', monospace;
  : var(--color-yellow);
}

img {
  max-width: 100%;
}

hr {
  height: 1px;
  background-: var(--color-yellow);
  border: none;
}

pre {
  padding: 10px;
  background-: var(--color-yellow);
  overflow: auto;
}

code {
  font-style: italic;
  : var(--color-text);
}

.comment {
  : var(--color-text);
}
