@font-face {
  font-family: 'Inconsolata';
src: url('\static\fonts\Inconsolata-Regular.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}

@font-face {
  font-family: 'Roboto';
src: url('\static\fonts\Roboto-Regular.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}

* {
  font-family: 'Inconsolata', monospace;
  color: var(--color-yellow);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2rem;
  /*color: var(--color-orange);*/
}
/*
h2 {
  color: var(--color-green);
}

h3, h4, h5, h6 {
  color: var(--color-violet);
}
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  border-color: #e9e1c8 !important;
  color: #586e75 !important;
}

a:link, a:visited {
  text-decoration: none;
  font-family: 'Inconsolata', monospace;
  color: var(--color-blue);
}

a:hover {
  color: var(--color-red);
}

p {
  font-family: 'Inconsolata', monospace;
  color: var(--color-text);
}

img {
  max-width: 100%;
}

hr {
  height: 1px;
  background-color: var(--color-base2);
  color: var(--color-base2);
  border: none;
}

pre {
  padding: 10px;
  background-color: var(--color-base2);
  color: var(--color-text);
  overflow: auto;
}

code {
  font-style: italic;
  background-color: var(--color-base2);
  color: var(--color-text);
}

.comment {
  color: var(--color-text);
}
