{{ define "main" }}
<section>
  <h1>{{ .Title }}</h1>
  {{ if isset .Params "show_date" | and (eq .Params.show_date false) }}
  {{ else }}
  <p class="comment">// Created at: {{ .Date.Format "Jan 02, 2006" }}</p>
  {{ end }}
  {{if .Params.abstract }}
  <p>{{ .Params.abstract }}</p>
  {{ end }}
  {{ if .Params.doi }}
  <p>DOI: <a href="{{ .Params.doi }}">{{ .Params.doi }}</a></p>
  <p>To download the the BibTeX citation, <a href="{{ .RelPermalink }}cite.bib">
        click here</a>.</p>
  {{ end }}
</section>

<section class="post-content">
  {{ .Content }}
</section>
{{ end }}
