<section>
<h2>Education</h2>
<ul>
    <li>Theoretical Physics PhD, University of Birmingham, 2022-present.</li>
    <li>Theoretical Physics MSci, University of Birmingham, 2018-2022, first class, 4.25GPA. 
        <ul>
            <li>MSci Moreton prize: Second overall MSci graduating student (Physics).</li>
            <li>Nolan Merrill prize: Best Year 4 project (Theoretical Physics).</li>
        </ul>
    </li>
</ul>
<h2>Internships</h2>
<ul>
    <li>AI Fellow, R42 Group.
        <ul>
            <li>Stock Market Team with Dr Ronjon Nag and Dr Frank Sortino, summer 2022.</li>
        </ul>
    </li>
</ul>
</section>
