<!-- welcome -->
<section>
  <h2>Hi, I'm Joseph Jones.</h2>
  <img style="float: right;" class="rounded" src="img/me.jpg" width="200" alt="Me!"/>
  <p>I am a Theoretical Physics PhD student at the <a href="https://www.birmingham.ac.uk/">University of Birmingham</a> researching statistical mechanics and phase transitions. 
  </p>
  <p>  
  I am currently working on a new kind of statistical mechanics perturbation theory - analogous to the quantum mechanical version and born from a <a href="https://iopscience.iop.org/article/10.1088/1751-8121/abcbae">recent</a> power series expansion of the (in)famous Baker-Campbell-Hausdorff formula. This breaks down the walls of fortified problems from the literature, allowing us to probe properties and phase transitions of spin models.</p>
  
  <p>I have a passive interest in computing and finance, having completed projects pertaining to machine learning, investment strategies and trading.</p>
</section>
<!-- /welcome -->
