<!-- welcome -->
<section>
  <img style="float: right;" class="rounded" src="img/scruff.png" width="250" alt="Me!"/>
  <p>I am a Theoretical Physics PhD student at the <a href="https://www.birmingham.ac.uk/">University of Birmingham</a> researching statistical physics and phase transitions. 
  </p>
  <p> I am developing statistical physics perturbation theory. A direct analogue of the quantum version that can be used to probe phase transitions of classical spin models. The perturbation theory is for operators related by the Baker-Campbell-Hausdorff identity.</p>
  
  <p>I have a passive interest in computing and finance, having completed projects pertaining to machine learning, investment strategies and trading.</p>
</section>
<!-- /welcome -->
