{{ define "main" }}

    {{- partial "welcome.html" -}}

    {{- partial "projects.html" -}}

    <section class="recent-articles">
        <h2>Recent Publications</h2>
        <p>Here are some recent publications.</p>
        {{ range first 6 (where .Site.RegularPages.ByDate.Reverse "Type" "publications") }}
        <a href="{{ .RelPermalink }}">
            {{ .Title }} <span class="comment">// {{ .Date.Format "2006-01-02" }}</span>
        </a>
        {{ end }}
        <a href="/publications">
            See all of my all publications.
        </a>
    </section>

{{ end }}
